:root {
  --main-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(240, 18%, 77%);
  --terciary-color: hsl(240, 38%, 20%);
  --leight-font-weight: 300;
  --medium-font-weight: 500;
  --bold-font-weight: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 32px;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--main-color);
}

.testimonial-container {
  display: flex;
  border: 2px solid red;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text {
  border: 2px solid blue;
  font-weight: var(--leight-font-weight);
}

.user-info {
  display: flex;
  border: 2px solid black;
}

.name {
  border: 2px solid pink;
  font-size: 0.5rem;
  font-weight: var(--bold-font-weight);
  margin-right: 10px;
}

.role {
  border: 2px solid green;
  font-size: 0.5rem;
  color: var(--secondary-color);
  font-weight: var(--medium-font-weight);
}

.image-container {
  border: 2px solid red;
  position: relative;
}

.user-image {
  width: 10rem;
}

.button-container {
  border: 2px solid green;
  position: absolute;
  bottom: 0;
}

.next-button {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 0 30px 30px 0;
  background: #f0f0f0 url(./images/icon-next.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.previous-button {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 30px 0 0 30px;
  background: #f0f0f0 url(./images/icon-prev.svg);
  background-position: center;
  background-repeat: no-repeat;
}

/* Footer */

footer {
  text-align: center;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.icon {
  text-decoration: none;
  color: hsl(218, 22%, 67%);
  padding: 1rem;
}

.icon:hover {
  color: black;
}